:root {
    --sky-blue: rgb(130, 206, 236);
    --note-background: var(--sky-blue);
    --note-text: #ffffff;
    --warning-background: #ffe900;
    --warning-text: #000000;
    --error-background: #d70022;
    --error-text: var(--note-text);
}

table.docutils thead tr th {
    font-weight: normal;
    padding: 7px 5px;
    vertical-align: middle;
    text-align: center;
}

div.admonition {
    padding: 0 0.8em 0.8em 0.8em !important;
    margin: 0.8em 0;
    border-radius: 2.5px;
    border-left-width: 6px;
    border-left-style: solid;
    background-color: var(--sky-blue);
}

p.admonition-title {
    font-weight: bold;
    margin: 0 -0.8rem !important;
    padding: 0.4rem 0.6rem 0.4rem 2.5rem;
    position: relative;
}

div.important, div.note, div.hint, div.tip {
    border-left-color: var(--note-background);
}

div.important > p.admonition-title,
div.note > p.admonition-title,
div.hint > p.admonition-title,
div.tip > p.admonition-title {
    background-color: var(--note-background);
    color: var(--note-text);
}

div.attention, div.warning, div.caution {
    border-left-color: var(--warning-background);
}

div.attention > p.admonition-title,
div.warning > p.admonition-title,
div.caution > p.admonition-title {
    background-color: var(--warning-background);
    color: var(--warning-text);
}

div.danger, div.error {
    border-left-color: var(--error-background);
}

div.danger > p.admonition-title,
div.error > p.admonition-title {
    background-color: var(--error-background);
    color: var(--error-text);
}
